
@{
    ViewBag.Title = "Cursos";
}

<h2>Cursos</h2>

<ul>
  <li>@Html.ActionLink("Crear Curso","CrearCurso","Home")</li>
  <li>@Html.ActionLink("Mostrar Cursos","MostrarCursos","Home")</li>
  <li>@Html.ActionLink("Crear Horario","CrearHorario","Home")</li>
</ul>

