
@{
    ViewBag.Title = "Tareas";
}

<h2>Tareas</h2>

  
<ul>
  <li>@Html.ActionLink("Crear Tarea","CrearTarea","Home")</li>
  <li>@Html.ActionLink("Consultar Tarea","ConsultarTareas","Home")</li>
</ul>