
@{
    ViewBag.Title = "Usuarios";
}

<h2>Usuarios</h2>

<ul>
  <li>@Html.ActionLink("Crear Usuarios","CrearUsuarios","Home")</li>
  <li>@Html.ActionLink("Mostrar Usuarios","MostrarUsuarios","Home")</li>
</ul>

